html, body {
	height: 100%;
}

nav ul a,
nav .brand-logo {
	color: #444;
}

p {
	color: rgba(0, 0, 0, 0.71);
	text-align: justify;
	line-height: 2rem;
}

a,
.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

.parallax {
	background-color: #000;
}

.parallax img {
	opacity: 0.9;
}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}


.icon-block {
	padding: 0 15px;
}

footer.page-footer {
	margin: 0;
}
