<!DOCTYPE HTML>
<html>
<head>
	<title>Janic's blog - {{ page.title }}</title>
	<meta name="author" content="Janic Duplessis" />
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>

<body>
	<header>
	<div class="navbar-fixed">
		<nav class="white" role="navigation">
			<div class="container">
				<div class="nav-wrapper">
					<ul id="nav-mobile" class="right side-nav">
    					<li><a href="/"{% if page.url == "/index.html" %} class="teal-text"{% endif %}>Home</a></li>
    					<li><a href="/articles.html"{% if page.url == "/articles.html" %} class="teal-text"{% endif %}>Articles</a></li>
    					<li><a href="/contact.html"{% if page.url == "/contact.html" %} class="teal-text"{% endif %}>Contact</a></li>
					</ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				</div>
			</div>
		</nav>
	</div>
	</header>
	<main>
		{{ content }}
	</main>
	<footer class="page-footer teal">
		<div class="container">
			<div class="row">

			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2015 Janic Duplessis
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/init.js"></script>
</body>
</html>
